{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="about space-y-6">
    <div class="main px-4 md:px-0">
        <div class="divide-y-2">
            <div class="py-8 space-y-5">
                <h1 class="font-extrabold text-4xl">About Me</h1>
                <p class="text-gray-500 text-lg">Who i am...</p>
            </div>
            <div class="py-4 grid grid-cols-3 md:space-x-5">
                <div class="mt-4 p-4 hidden md:block">
                    <div class="flex flex-col h-[50vh] w-full rounded-lg">
                        <img src="{% static 'img/me_r.jpeg' %}" alt="" class="h-full w-full object-cover rounded-lg">
                    </div>
                </div>
                <div class="col-span-3 md:col-span-2 space-y-5 pt-8">
                    <h1 class="text-3xl md:text-4xl">Greeting, I'am Diarra Moustapha,
                    </h1>
                    <p class="leading-8 text-lg text-gray-600">a passionate and driven Full-Stack Developer with a
                        strong academic background
                        in
                        Software
                        Engineering. My journey in
                        the world of technology began with an insatiable curiosity and a desire to create innovative
                        solutions that positively
                        impact people's lives. Throughout my academic pursuits, I gained invaluable knowledge and honed
                        my
                        problem-solving
                        skills, which I now leverage to craft robust and user-friendly applications.
                    </p>
                    <h1 class="text-3xl md:text-4xl py-4">Academic Journey</h1>
                    <p class="leading-8 text-lg text-gray-600">
                        My time at Dagestan State Technical University in 🇷🇺 provided me with a solid foundation in
                        various programming
                        languages,
                        algorithms, and software development methodologies. I engaged in rigorous coursework that fueled
                        my
                        passion for learning
                        and advancing my technical expertise. Pursuing a Master's degree allowed me to delve deeper into
                        advanced topics like
                        distributed systems, machine learning, and software architecture, cementing my commitment to
                        excellence in software
                        development.
                    </p>
                    <h1 class="text-3xl md:text-4xl py-4">Expertise in Web and Mobile Development</h1>
                    <p class="leading-8 text-lg text-gray-600">
                        Web and mobile development have been the focal points of my career, and I have thoroughly
                        immersed myself in these
                        domains. My preferred language is Python, which I find versatile and powerful, but I am also
                        proficient in a wide range
                        of languages, including Java, JavaScript, HTML, and CSS. I believe in keeping an open mind and
                        being adaptable, allowing
                        me to embrace and excel in diverse projects and technologies.
                    </p>
                    <h1 class="text-3xl md:text-4xl py-4">
                        Specialization and Frameworks
                    </h1>
                    <p class="leading-8 text-lg text-gray-600">
                        Over the years, I have specialized in building dynamic and interactive web applications using
                        Django, a robust and
                        feature-rich Python web framework. My experience with Django has allowed me to create a variety
                        of projects, including
                        e-commerce platforms, e-learning portals, and personalized blogs. Additionally, I have honed my
                        skills in ReactJS, a
                        popular JavaScript library, which has empowered me to develop engaging and responsive user
                        interfaces for various web
                        applications. Moreover, I have ventured into the world of cross-platform mobile app development
                        using Flutter, enabling
                        me to build native-like mobile applications for both Android and iOS platforms.
                    </p>
                    <h1 class="text-3xl md:text-4xl py-4">Exploring the Web3 World</h1>
                    <p class="leading-8 text-lg text-gray-600">
                        As part of my continuous learning journey, I am currently studying and exploring the fascinating
                        realm of Web3
                        technologies. The decentralized web has immense potential to revolutionize various industries,
                        and I
                        am excited to be a
                        part of this transformative era. I am diving into concepts like blockchain, smart contracts, and
                        decentralized
                        applications (DApps), with a particular focus on platforms like Ethereum. Understanding the
                        principles and possibilities
                        of Web3 is opening up new avenues for building secure, transparent, and decentralized
                        applications
                        that empower users
                        like never before.
                    </p>
                    <h1 class="text-3xl md:text-4xl py-4">A Collaborative and Detail-Oriented Approach
                    </h1>
                    <p class="leading-8 text-lg text-gray-600">As a developer, I take pride in my ability to work
                        seamlessly within a team
                        environment. I believe that the
                        collaborative effort of diverse minds leads to the most innovative solutions. My attention to
                        detail
                        ensures that the
                        applications I build are not only aesthetically pleasing but also robust, scalable, and secure.
                    </p>
                    <h1 class="text-3xl md:text-4xl py-4">Continuously Evolving</h1>
                    <p class="leading-8 text-lg text-gray-600">
                        The ever-evolving nature of the tech industry excites me, and I embrace continuous learning as a
                        fundamental aspect of
                        my professional growth. Staying up-to-date with the latest trends and technologies allows me to
                        remain at the forefront
                        of innovation and deliver cutting-edge solutions to the challenges I encounter.
                    </p>
                    <p class="leading-8 text-lg text-gray-600">
                        Thank you for taking the time to explore my portfolio. I am always eager to embark on new
                        projects,
                        collaborate, and
                        contribute to the digital landscape. Whether you are a fellow developer, a potential employer,
                        or a
                        tech enthusiast, I
                        welcome the opportunity to connect and discuss any exciting opportunities or ideas.
                    </p>
                    <p class="leading-8 text-lg text-gray-600">
                        Let's build something amazing together! <span class="text-4xl">🤩</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}