{% extends "base.html" %}

{% load static %}

{% block content %}

<main>
    <div class="max-w-4xl mx-auto mt-8">
        <header class="text-center px-6 mb-12 mx-auto my-16">
            <h2 class="text-4xl font-bold uppercase mb-2">My Technical Projects
            </h2>
            <p class="text-2xl mx-auto">Discover all projects with code source.</p>
        </header>
        <div class="flex flex-row flex-wrap items-center border-t border-gray-200 py-5">
            {% for categorie in categories %}
            <a class="mt-2 ml-2 px-2 py-1 " href="{% url 'project_by_cat' categorie.slug %}">
                <div
                    class="relative my-1 inline-flex rounded-full px-2.5 py-1 text-xs font-medium text-white before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-blue-600">
                    <span class="relative text-white font-bold">
                        {{categorie.title}}
                    </span>
                </div>
            </a>
            {% endfor %}
        </div>
        <section class="text-gray-600 body-font overflow-hidden">
            <div class="container px-5 py-24 mx-auto">
                <div class="-my-8 divide-y-2 divide-gray-100">
                    <!-- div blog post 1 -->
                    {% for project in projects %}
                    <a href="{{ project.get_absolute_url }}" class="no-underline">
                        <div class="py-8 flex flex-wrap md:flex-nowrap items-center">
                            <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">

                                <img src="{{ project.thumbnail.url }}" alt="" class="w-full h-full hidden md:block">
                            </div>
                            <div class="md:flex-grow ml-6">
                                <span class="mt-1 text-gray-500 text-sm mb-2">{{ project.published|date }}</span>
                                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{{ project.title }}</h2>
                                <p class="leading-relaxed">{{ project.overview|safe }}</p>
                                <a class="text-indigo-500 inline-flex items-center mt-4">Learn More
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </a>
                    {% empty %}
                    <p>There not a project build wth <span class="underline">{{ category.title }}</span> now!</p>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</main>

{% endblock content %}